<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TEMPLATE HTML</title>
</head>
<body>
    <h2> IMPORTANTE CORREO DESDE CONTACTO  </h2>
    <p> Has resivido un correo desde tu pagina www.syasoft.cl </p>

   <ul> 
       <li>Nombre: {nombre}</li>
       <li>Email: {email}</li>
       <li>Descripcion: {descripcion}</li>
   </ul>
</body>
</html>

